/* google fonts link start */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* google fonts link end */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Nunito", sans-serif;
}
/* ---------------------------------------------------------------
common styles start
--------------------------------------------------------------- */
.container {
  width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}
section,
footer {
  padding: 60px 0px;
}

/* common button start */

.btn-watch i {
  margin-left: 10px;
}
.btn-watch {
  padding: 15px 24px;
  display: inline-block;
  background-color: #e02c6d;
  color: black;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  border-radius: 3px;
  position: relative;
  z-index: 1;
}
.btn-watch::before {
  transition: 0.4s ease-out;
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  height: 0px;
  right: 0;
  border-radius: 0 0 100% 100%;
  background-color: rgb(0, 217, 255);
}

.btn-watch:hover::before {
  border-radius: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}
/* common button end */

a.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  padding: 16px 20px;
  background: crimson;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  animation: scroll 2s ease 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes scroll {
  0% {
    opacity: 0.05;
  }
  100% {
    z-index: 2;
    opacity: 1;
  }
}
/* ---------------------------------------------------------------
common styles end
--------------------------------------------------------------- */

/*----------------------------------------------------------------
 Header section styles start
 -------------------------------------------------------------- */
header {
  background-color: #2d25a0;
  overflow: hidden;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}
.nav-links {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  margin: auto 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.login-btn {
  padding: 15px 477px;
  margin-bottom: 20px;
}
.navbar {
  margin-bottom: 27px;
  margin-top: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-info {
  width: 50%;
}

.header-info h1 {
  color: white;
  font-size: 64px;
  margin: 0px;
  margin-bottom: 27px;
  padding: 0px;
}
.header-thumnail {
  width: 50%;
}
.header-thumnail img {
  width: 100%;
}
.header-thumnail img:hover {
  animation: blackFire 5s ease-in-out 0s infinite normal;
  transition: 0.5s;
  animation-fill-mode: reverse;
}

@keyframes blackFire {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8) rotate(90deg);
  }
  50% {
    transform: scale(1.4) rotate(180deg);
  }
  75% {
    transform: scale(0.7) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
/*----------------------------------------------------------------
 Header section styles end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */

/*----------------------------------------------------------------
 Players section styles start
 -------------------------------------------------------------- */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.player-image img {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
}
.single-player {
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 14px #444;
}
.single-player:hover .player-image img {
  transform: scale(1.05);
}
.player-info .player-name {
  font-size: 28px;
  margin: 10px 0px;
  font-weight: 700;
}

.player-info .player-detail {
  line-height: 26px;
  margin: 10px 0px;
}
/*----------------------------------------------------------------
 Players section styles end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */

/*----------------------------------------------------------------
 Highlights section styles start
 -------------------------------------------------------------- */
.highlights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlights-details {
  width: 50%;
}

.highlights-image {
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.highlights-image img {
  width: 100%;
  border-radius: 5px;
  transition: 0.5s;
}
.highlights-image img:hover {
  transform: scale(1.2);
}
.highlights-details h1 {
  font-size: 48px;
}

.highlights-details p {
  width: 370px;
  line-height: 28px;
  margin-bottom: 40px;
}

/*----------------------------------------------------------------
 Highlights section styles end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */
/*----------------------------------------------------------------
 match-schudule-section section styles start
 -------------------------------------------------------------- */
.match-schudule-section {
  background-image: url(../images/country-flag/match-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
}
.match-section-header h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  margin-bottom: 74px;
}
.schedule-heading {
  color: white;
}
.all-schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.next-match {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.single-match {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 0px;
  background: rgba(21, 22, 24, 0.9);
  color: white;
  padding: 25px 15px;
}
.match-timeline h2 {
  margin: 10px;
}
.all-schedule img {
  width: 50px;
  height: 30px;
  margin: 0px 14px;
}

.nation-flag {
  display: flex;
  align-items: center;
}
.nation-flag2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.match-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----------------------------------------------------------------
 match-schudule-section section styles end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */

/*----------------------------------------------------------------
Latest news section styles end
 -------------------------------------------------------------- */
.latest-news-header {
  text-align: center;
  margin-bottom: 60px;
}

.latest-news-header h2 {
  color: crimson;
}

.latest-news-header h1 {
  font-size: 45px;
  position: relative;
}

.latest-news-header h1:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 4px;
  background: crimson;
  top: 66px;
  left: 41%;
}
.all-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.single-news {
  padding: 15px;
  border: 0.5px solid #e1dbdb;
}

.news-image img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.news-date span {
  width: 8px;
  height: 8px;
  background: crimson;
  display: inline-block;
  margin-bottom: 1px;
}

.news-title h1 {
  font-size: 22px;
  margin: 12px 0;
}

.news-comment {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.news-comment p i {
  margin-right: 10px;
  color: crimson;
}
/*----------------------------------------------------------------
 Latest news section styles end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */

/*----------------------------------------------------------------
  subscribe styles start
 -------------------------------------------------------------- */
.subscribe {
  background: url(../images/country-flag/subscribe-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px;
}
section.subscribe h1 {
  text-align: center;
  font-size: 50px;
  color: crimson;
  margin-bottom: 20px;
}

.input-group {
  text-align: center;
  margin: 0;
  padding: 0;
}

input.email-field {
  padding: 24px 18px;
  outline: none;
  width: 50%;
  border: none;
  font-size: 18px;
  border-radius: 4px;
}
input.submit-btn {
  padding: 24px 20px;
  font-size: 18px;
  outline: none;
  border: none;
  margin-left: -10px;
  background: crimson;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
/*----------------------------------------------------------------
s  ubscribe styles end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */

/*----------------------------------------------------------------
 Footer section styles start
 -------------------------------------------------------------- */

.footer-logo {
  width: 485px;
  text-align: center;
  margin: 10px auto;
}

.footer-logo img {
  width: 100%;
}

.social-icons {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  justify-content: center;
}

.social-icons i {
  font-size: 25px;
  transition: 0.3s;
  margin: 0px 14px;
  border-radius: 50%;
  padding: 15px;
  color: #969bab;
  background: #e7e7e8;
}
.social-icons i:hover {
  background-color: crimson;
  color: white;
}
.copyright {
  margin: auto;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  margin-top: 20px;
  color: #333;
}

/*----------------------------------------------------------------
 Footer section styles end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- */

/*----------------------------------------------------------------
scrollbar design start
 -------------------------------------------------------------- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(135, 207, 235, 0), crimson);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 4, 255);
}
/*----------------------------------------------------------------
scrollbar design end
 -------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------- 
---------------------------------Media styles----------------------------------------
---------------------------------------------------------------------------------- */

/*------------------------------------------------------------- 
 responsive media start
 ---------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .header-info h1 {
    font-size: 50px;
  }
  .header-info {
    width: 100%;
  }

  .header-thumnail {
    width: 100%;
    margin-top: 70px;
  }
  /* ------------player section resposive styles-------------- */
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  /* ------------highlights-section resposive styles-------------- */
  .highlights {
    flex-direction: column;
  }
  .highlights-details p {
    width: 100%;
  }
  .highlights-details {
    width: 100%;
    margin-bottom: 40px;
  }
  .highlights-image {
    width: 100%;
  }
  .all-schedule {
    grid-template-columns: repeat(1, 1fr);
  }
  .all-news {
    grid-template-columns: repeat(2, 1fr);
  }
  .login-btn {
    padding: 15px 294px;
    margin-bottom: 18px;
  }
}
@media only screen and (max-width: 766px) {
  /*------------------------common styles---------------- */
  .container {
    width: 100%;
  }
  /* ------------header resposive styles-------------- */
  .header-content {
    flex-direction: column;
  }
  .header-info h1 {
    font-size: 50px;
  }
  .header-info {
    width: 100%;
  }

  .header-thumnail {
    width: 100%;
    margin-top: 70px;
  }
  /* ------------player section resposive styles-------------- */
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ------------highlights-section resposive styles-------------- */
  .highlights {
    flex-direction: column;
  }
  .highlights-details p {
    width: 100%;
  }
  .highlights-details {
    width: 100%;
    margin-bottom: 40px;
  }
  .highlights-image {
    width: 100%;
  }
  /* ------------footer resposive styles-------------- */
  .footer-logo {
    width: 100%;
  }

  .all-schedule {
    grid-template-columns: repeat(1, 1fr);
  }
  .latest-news-header h1 {
    font-size: 30px;
  }

  .latest-news-header h1:after {
    width: 150px;
    top: 66px;
    left: 30%;
  }
  .all-news {
    grid-template-columns: repeat(1, 1fr);
  }
  section.subscribe h1 {
    font-size: 25px;
  }

  input.email-field {
    padding: 15px 7px;
    width: 67%;
  }

  input.submit-btn {
    padding: 15px 7px;
  }
  .login-btn {
    padding: 15px 180px;
  }
}

@media (max-width: 500px) {
  a.scroll-up {
    padding: 8px 15px;
  }
  .header-info h1 {
    font-size: 40px;
  }
  .nation-flag {
    flex-direction: column;
    align-items: normal;
    margin: auto 0;
  }
  .nation-flag img {
    margin: 0;
    margin-bottom: 10px;
  }

  .nation-flag2 {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: auto 0;
  }

  .nation-flag2 img {
    margin: 0px;
    margin-bottom: 10px;
  }

  .match-section-header h1 {
    font-size: 32px;
  }
  .match-timeline p {
    font-size: 14px;
  }
  .subscribe {
    padding: 100px 0px;
  }
  section.subscribe h1 {
    font-size: 18px;
  }

  input.email-field {
    padding: 12px 7px;
    width: 67%;
  }

  input.submit-btn {
    padding: 12px 7px;
  }
  .nav-links li a {
    padding: 15px 0px;
    font-size: 14px;
  }
  .navbar ul {
    flex-direction: column-reverse;
  }
  .login-btn {
    padding: 15px 80px;
    margin-bottom: 10px;
  }
}
/*------------------------------------------------------------- 
 responsive media end
 ---------------------------------------------------------------- */
